---
import SiteLayout from "../../layouts/SiteLayout.astro";

export async function getStaticPaths() {
  const articles = import.meta.glob("../../../content/*.md");

  return Object.entries(articles).map(([path, resolver]) => {
    const slug = path.split("/").pop()?.replace(".md", "");

    if (!slug) {
      throw new Error(`Invalid path: ${path}`);
    }

    return {
      params: { slug },
      props: { resolver },
    };
  });
}

const { resolver } = Astro.props;

const post = await (resolver as () => Promise<any>)();

const { Content, frontmatter } = post;
const { title, standfirst, author, publicationDate } = frontmatter;
---

<SiteLayout>
  <div class="article-container">
    <h2>{title}</h2>
    {standfirst && <div class="standfirst">{standfirst}</div>}
    {author && <div class="author">By {author}</div>}
    <time datetime={publicationDate}
      >{new Date(publicationDate).toLocaleDateString()}</time
    >

    <Content />
  </div>
</SiteLayout>

<style>
  .article-container {
    max-width: 800px;
    margin: 0 auto;
  }
  .standfirst {
    font-size: 1.4rem;
    font-style: italic;
    margin-bottom: 1rem;
  }
</style>
